{% extends "base.html" %}
{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
    </header>
    <main role="main" class="inner cover">
        <h1>The Human Log</h1>
            {% if logged_in %}
            <a class="btn btn-outline-dark" href="/logout">Logout</a>
            {% else %}
            <a class="btn btn-outline-dark" href="/login">Login</a>
            {% endif %}
    </main>
    <footer class="mastfoot mt-auto">
    </footer>
</div>
{% endblock %}