{% extends "base.html" %}
{% block head %}
<head>
    {% include "responsives.html" %}
    <title>The Human Log</title>
    {% include "styles.html" %}
</head>
{% endblock %}
{% block body %}
<body class="text-center">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-brand">THL</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
				</li>
		    </ul>
		</div>
	</nav>
	<div class="container w-100 p-3">
		<form>
		    <div class="form-group">
				<textarea autofocus class="form-control log"></textarea>
			</div>
			<button class="btn btn-outline-dark" type="submit">Log</button>
		</form>
	</div>
</body>
{% endblock %}