/*
 * Text items
 */
h1 {
  margin-bottom: 0.75em
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cover-container {
  max-width: 42em;
}

/*
 * Bootstrap overrides
 */
.btn {
  padding: 0.75rem 2.25rem;
}

/*
 * Breakpoints
 */
@media(max-width: 23em) {
  h1 {
    font-size: 2rem
  }
  .btn {
    padding: 0.7rem 2rem;
  }
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}